<app-title name="CONTACT.TITLE"></app-title>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h4>{{ 'CONTACT.SUBTITLE' | translate }}</h4>
      <p>{{ 'CONTACT.DESC' | translate }}</p>
      <form>
        <div class="form-group">
          <label>{{ 'CONTACT.NAME' | translate }}</label>
          <input type="text" class="form-control" placeholder="{{'CONTACT.NAME_PLACEHOLDER' | translate}}">
        </div>
        <div class="form-group">
          <label>{{ 'CONTACT.EMAIL' | translate }}</label>
          <input type="email" class="form-control" placeholder="{{'CONTACT.EMAIL_PLACEHOLDER' | translate}}" aria-describedby="emailHelp" >
          <small class="form-text text-muted">{{ 'CONTACT.EMAIL_TIP' | translate }}</small>
        </div>
        <div class="form-group">
          <label>{{ 'CONTACT.MESSAGE' | translate }}</label>
          <textarea class="form-control" rows="10" cols="40"></textarea>
        </div>
        <button type="submit" class="btn">{{ 'CONTACT.SUBMIT' | translate }}</button>
      </form>
      <agm-map [latitude]="'author.location.latitude' | storage" [longitude]="'author.location.longitude'|storage" [zoom]="10">
        <agm-marker [latitude]="'author.location.latitude'|storage" [longitude]="'author.location.longitude'|storage">
          <agm-info-window>Home</agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div class="col-md-3">
      <app-aside></app-aside>
    </div>
  </div>
</div>