<app-title name="Resume"></app-title>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="card introduction">
        <div class="card-body">
          <h5 class="card-title">Hello, I'm Nick</h5>
          <h6 class="card-subtitle mb-2 text-muted">PHP developer</h6>
          <p class="card-text">Hello! I’m Nick. PHP Developer with over 8 years of experience. Experienced with all stages of the development
            cycle for dynamic web projects. Having an in-depth knowledge including advanced HTML5, CSS3, JavaScript, jQuery,
            Angular2+, Laravel, PHP. Strong background in management and leadership.</p>
          <a href="https://github.com/youmax" class="fa fa-github">Github</a>
        </div>
      </div>

      <h3 class="title-skills"> Skills </h3>
      <div class="row skills">

        <div class="col-lg-5">
          <div class="card">
            <header>Profession Skills</header>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">HTML & css
                <span>90%</span>
              </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="90" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">HTML & css
                <span>90%</span>
              </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="90" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">HTML & css
                <span>90%</span>
              </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="90" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">HTML & css
                <span>90%</span>
              </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="90" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 class="card-subtitle mb-2 text-muted">HTML & css
                <span>90%</span>
              </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="90" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="card">
            <header>Additional Skills</header>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <circle-progress [percent]="80" [radius]="40" [outerStrokeWidth]="10" [innerStrokeWidth]="0" [outerStrokeColor]="'#4882c2'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [responsive]="true" [subtitle]="'TeamWork'"></circle-progress>
                </div>
                <div class="col-4">
                  <circle-progress [percent]="60" [radius]="40" [outerStrokeWidth]="10" [innerStrokeWidth]="0" [outerStrokeColor]="'#4882c2'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [responsive]="true" [subtitle]="'Database'"></circle-progress>

                </div>
                <div class="col-4">
                  <circle-progress [percent]="70" [radius]="40" [outerStrokeWidth]="10" [innerStrokeWidth]="0" [outerStrokeColor]="'#4882c2'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [responsive]="true" [subtitle]="'Linux'"></circle-progress>
                </div>
                <div class="col checkbox-group">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-check">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                      <div class="form-check">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                      <div class="form-check">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-check">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                      <div class="form-check">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                      <div class="form-check">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <h3> education </h3>
      <div class="card-deck">
        <div class="card">
          <header>2010-2012</header>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"> Lipro University</h6>
            I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and
            got A grade overall.
          </div>
        </div>
        <div class="card">
          <header>2008-2010</header>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"> Lipro University</h6>
            I completed this degree from this prestigious insitution. I successful completed all the credits without any fallout and
            got A grade overall.
          </div>
        </div>

      </div>

      <h3> experience </h3>
      <div class="row experience">
        <div class="offset-lg-4 col-md-12 col-lg-8 ex-container">
          <div class="card">
            <time>Jan 2015 - Current</time>
            <div class="card-body">
              <h5 class="card-title">Full Stack Developer</h5>
              <h6 class="card-subtitle mb-2 text-muted"> GOGLE</h6>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper lacus tortor, quis bibendum odio mattis vitae. Cras porta
              massa pretium auctor congue. Suspendisse ante massa, euismod sit amet sem sed, viverra tristique diam.
            </div>
          </div>
          <div class="card">
            <time>Jan 2015 - Current</time>
            <div class="card-body">
              <h5 class="card-title">Full Stack Developer</h5>
              <h6 class="card-subtitle mb-2 text-muted"> GOGLE</h6>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper lacus tortor, quis bibendum odio mattis vitae. Cras porta
              massa pretium auctor congue. Suspendisse ante massa, euismod sit amet sem sed, viverra tristique diam.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <app-aside></app-aside>
    </div>
  </div>
</div>
