<app-title name="RESUME.TITLE"></app-title>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9" id="resume">
      <div class="card introduction">
        <div class="card-body">
          <h5 class="card-title text-center">{{ 'author.name' | storage }}</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">
            <a href="mailto:{{'author.email' | storage }}"> Email:{{ 'author.email' | storage }}</a>
          </h6>
          <p class="card-text" [innerHtml]="('author.introduction'|storage|html)"></p>
        </div>
        <div class="card-footer text-center">
          <a class="btn btn-download" (click)="download()">{{ 'RESUME.DOWNLOAD' | translate }} PDF</a>
        </div>
      </div>

      <h3 class="title-skills">{{ 'RESUME.SKILLS' | translate }} </h3>
      <div class="row skills">

        <div class="col-lg-5">
          <div class="card">
            <header>{{ 'RESUME.PROFESSION_SKILLS' | translate }}</header>
            <div class="card-body">
              <div *ngFor="let skill of professionSkills">
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ skill.name }}
                  <span>{{ skill.percent }}%</span>
                </h6>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="skill.percent" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="card">
            <header>{{ 'RESUME.ADDITIONAL_SKILLS' | translate }}</header>
            <div class="card-body">
              <div class="row">
                <div class="col-4" *ngFor="let skill of teamWorkSkills">
                  <circle-progress [percent]="skill.percent" [radius]="40" [outerStrokeWidth]="10" [innerStrokeWidth]="0" [outerStrokeColor]="'#4882c2'"
                    [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300" [responsive]="true" [subtitle]="skill.name"></circle-progress>
                </div>
                <div class="col checkbox-group">
                  <div class="row">
                    <div class="col-6" *ngFor="let skill of additionalSkills">
                      <div class="form-check">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <label class="form-check-label" for="gridCheck">
                          {{ skill.name }}
                        </label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <h3> {{ 'RESUME.EDUCATION' | translate }} </h3>
      <div class="card-deck">
        <div class="card" *ngFor="let education of ('author.educations'|storage)">
          <header>{{ education.date }}</header>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"> {{ education.school }}</h6>
            <i> {{ education.degree }}</i>
            <br> {{ education.desc }}
          </div>
        </div>
      </div>

      <h3> {{ 'RESUME.EDUCATION' | translate }} </h3>
      <div class="row experience">
        <div class="offset-lg-4 col-md-12 col-lg-8 ex-container">
          <div class="card" *ngFor="let experience of ('author.experiences'|storage)">
            <time>{{ experience.date }}</time>
            <div class="card-body">
              <h5 class="card-title">{{ experience.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted"> {{ experience.position }}</h6>
              <p [innerHtml]="experience.desc"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <app-aside></app-aside>
    </div>
  </div>
</div>