footer {
    padding: 20px 30px;
    background: #222;
    color: #999;
    font-size: 0.923em;
    a {
        color: #999;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}