<header>
  <nav class="navbar">
    <a class="navbar-brand" href="/">
        <span class="name">Steve</span>
        <span class="position">Web Developer</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ">Feature</a>
      </li>
    </ul>
  </nav>
</header>
