.page-title {
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .col {
        padding: 20px 30px;
        font-size: 1.615em;
        h5 {
            color: #333;
            font-weight: 600;
        }
    }
    margin-bottom: 40px;
}