<header>
  <nav class="navbar box-shadow" id="navbarToggleExternalContent">
    <div class="brand-wrapper">
      <a class="navbar-brand" href="/" *ngIf="GLOBALS.author">
        <span class="name">{{ GLOBALS.author.name }}</span>
        <span class="position">{{ GLOBALS.author.job }}</span>
      </a>
      <a class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="bars"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav">
        <li class="nav-item" [routerLinkActive]="['']" *ngFor="let menu of menus" #router="routerLinkActive">
          <a class="nav-link" [ngClass]="router.isActive?'active':''" [routerLink]="[menu.path]">{{ menu.name }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>