main{
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 40px;
  }
  .container {
    width: 1000px;
  }
}
