body {
  background-color: #ddd;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Raleway";
  line-height: 1.65;
  font-size: 13px;
  color: #666;
  .spinner-container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

$offset: 187;
$duration: 1.4s;
.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite, colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}

// social icon
.fa {
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  &:hover{
    opacity: 0.5;
  }
  &.fa-google-plus {
    background: #dd4b39;
  }
  &.fa-github {
    background: #333;
  }
}