<header>
  <nav class="navbar box-shadow" id="navbarToggleExternalContent">
    <div class="brand-wrapper">
      <a class="navbar-brand" href="/">
        <span class="name">Steve</span>
        <span class="position">Web Developer</span>
      </a>
      <a class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="bars"></span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav">
        <li class="nav-item" [routerLinkActive]="['']" *ngFor="let route of routes" #router="routerLinkActive">
          <a class="nav-link" [ngClass]="router.isActive?'active':''" [routerLink]="[route.path]">{{ route.path }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
